# CMake

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# YoAudio

/bin/*
/lib/*
/build/*
Win32/

# Visual Studio

.vs/*

# SDL2 dependency

engine/dependencies/SDL2/
